# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306

# Stripe / Billing
STRIPE_SECRET_KEY=sk_test_51RunRj8wt2k3vJoUHLUdd7kf36Dy0WWrJ4MYZAGdEJ8dAASjxcnO2Fav13nC6cFOZ6yUqLl3NvSHAPJ9CyqFmbCv00zM9FQfqs
STRIPE_PUBLISHABLE_KEY=pk_test_51RunRj8wt2k3vJoUNBKB5xVm46a1lq4Ylp9ewYj3gVOdHjDoVDUQwgaiHOpibUpnu8IFDJLczGmhuAZI9YlYzHuB00IWtWM0tt
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PORTAL_RETURN_URL=http://127.0.0.1:8000/billing/ui/wallet/

# Billing flags (opcional)
BILLING_REFUND_PRO_RATA=True
BILLING_ALLOW_REFUND_IF_USED_THRESHOLD=0

# Retell (Voice + Chat)
# Required to enable /comms/create-web-call/ and /comms/* chat endpoints
# You can set either RETELL_API_KEY or RETELL_TOKEN
RETELL_API_KEY=
# RETELL_TOKEN=

# Agent IDs
RETELL_DEFAULT_AGENT_ID=
RETELL_CHAT_AGENT_ID=

# Webhook verification
RETELL_WEBHOOK_SECRET=
RETELL_ALLOWED_AGENT_IDS=