DJANGO_DEBUG=False
SECRET_KEY=REEMPLAZAR
ALLOWED_HOSTS=localhost,127.0.0.1,dashboard.trauck.com,trauck.com

# Opción 1: URL completa (si la defino, tiene prioridad)
# DATABASE_URL=postgresql://postgres:<PASSWORD>@<POOLER_HOST>:6543/postgres?sslmode=require

# Opción 2: armar URL desde variables (por defecto usa POOLER)
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=
SUPABASE_DB_NAME=postgres
SUPABASE_POOLER_HOST=
SUPABASE_POOLER_PORT=6543
SUPABASE_DIRECT_HOST=
SUPABASE_DIRECT_PORT=5432
SUPABASE_USE_POOLER=true
DB_CONN_MAX_AGE=600
DB_SSLMODE=require
