DJANGO_DEBUG=False
SECRET_KEY=REEMPLAZAR
ALLOWED_HOSTS=localhost,127.0.0.1,dashboard.trauck.com,trauck.com

# Supabase Postgres (recommended)
SUPABASE_DB_HOST=db.fcolgapfysnujdfonyqj.supabase.co
SUPABASE_DB_PORT=5432
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=<<set_me>>
SUPABASE_DB_NAME=postgres
SUPABASE_SSLMODE=require

# Alternative single variable (overrides Supabase pieces if set)
# DATABASE_URL=postgresql://postgres:<<set_me>>@db.fcolgapfysnujdfonyqj.supabase.co:5432/postgres?sslmode=require
